.idea/
.DS_Store
node_modules/
**/node_modules/
.env
.env.*
!.env.example
!**/.env.example
apps/api/.env.local
apps/api/.env.test
apps/api/.env.production
apps/api/.env.development
apps/api/.env.local.*

